* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4rem;
}

/* general */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* header */

.header {
    justify-content: space-between;
    padding: 10px 15%;
    background-color: #FF6900;
    color: white;
}

#logo {
    width: 100px;
}

.icons {
    justify-content: space-between;
    width: 60px;
}

/* main */

.container {
    background-color: grey;
    padding: 40px 15%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    height: 650px;
    width: 300px;
    border: 1px solid black;
    margin: 10px 10px;
    background-color: bisque;
}

.images {
    max-width: 100%;
    max-height: 100%;
}

.content {
    border: 1px solid black;

}

.brand {
    color: lightgray;
}

.discounted.price {
    color: red;
}

.original.price {
    padding-left: 10px;
    text-decoration: line-through;

}

.label {
    width: fit-content;
    padding: 2px 10px;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.discount {
    position: absolute;
    bottom: 250px;
    background-color: red;
}

.sustainability {
    position: absolute;
    bottom: 250px;
    left: 50px;
    background-color: green;
}

.fa-solid.fa-heart {
    position: absolute;
    top: 10px;
    right: 0px;
    color: black;
    border: 1px solid white;
    padding: 10px;
    background-color: white;


}